.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  background: #31344e url('../img/intro-bg.jpg') no-repeat center / cover;
  padding-top: 100px;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  text-align: center;
  margin: 0 auto;
}

.intro__title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 30px;
}

.intro__subtitle {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  margin-bottom: 60px;
}
