.team {
  margin: 100px 0 70px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 22.5%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
  margin-bottom: 8px;
}

.team__prof {
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.team__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
  margin-bottom: 20px;
}

.social {
  display: flex;
}

.social__item {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8ecee;
  margin-right: 4px;
}

.social__item img {
  height: 18px;
  color: #e8ecee;
}
